[user]
	name = mahi160
	email = omarsifat288@gmail.com
[core]
	editor = nvim
	autocrlf = false
	excludesfile = ~/.gitignore_global
	pager = delta
[init]
	defaultBranch = main
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[rebase]
	autoStash = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
	syntax-theme = gruvbox-dark
